doctype html
html(ng-app="dollast-app")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" type="image/jpeg" href="atm.jpg")
    title dollast
    script(src="js/lib/angular/angular.js")
    script(src="js/lib/angular/angular-jwt.js")
    script(src="js/lib/angular/angular-sanitize.js")
    script(src="js/lib/angular/angular-resource.js")
    script(src="js/lib/angular/angular-route.js")
    script(src="js/lib/angular/angular-file-upload.js")
    script(src="js/lib/angular/dateTimeInput.js")
    script(src="js/lib/angular/ng-ckeditor.js")
    script(src="js/lib/preludels.min.js")
    script(src="js/lib/moment.js")
    script(src="js/lib/ckeditor/ckeditor.js")
    script(src="js/lib/jquery.min.js")
    script(src="js/lib/forge.min.js")
    script(src="js/lib/highlight.pack.js")
    script(src="js/dollast/app.js")
    script(src="js/dollast/msg.js")
    script(src="js/dollast/crud.js")
    script(src="js/dollast/sess.js")
    script(src="js/dollast/filter.js")
    script(src="js/dollast/site.js")
    script(src="js/dollast/user.js")
    script(src="js/dollast/prob.js")
    script(src="js/dollast/sol.js")
    script(src="js/dollast/rnd.js")
    script(src="semantic-ui/semantic.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    link(type="text/css" rel="stylesheet" href="css/highlight/monokai_sublime.css")
    link(type="text/css" rel="stylesheet" href="semantic-ui/semantic.css")
    link(type="text/css" rel="stylesheet" href="css/default.css")
    
  body.pusher
    .ui.page.grid
      .row
        .ui.large.fixed.page.grid.inverted.blue.menu(ng-controller="navbar-ctrl")
          .header.item dollast
          
          .ui.buttons
            a.ui.item.labeled.button(href="#/")
              i.icon.home
              span home
            a.ui.item.labeled.button(href="#/problem") 
              i.icon.browser
              span problem
            a.ui.item.labeled.button(href="#/solution") 
              i.icon.info.circle
              span status
            a.ui.item.labeled.button(href="#/round") 
              i.icon.users
              span contest
            a.ui.item.labeled.button(href="#/about") 
              i.icon.help.circle
              span about

          .ui.item
            a.ui.input.icon
              i.icon.search
              input(placeholder="ID or Searching")

          .right.menu
            .buttons.ui(ng-hide="sess.uid")
              a.ui.item.labeled.button(href="#/login") 
                i.icon.sign.in
                span login
              a.ui.item.labeled.button(href="#/user/register" ng-hide="sess.uid") 
                i.icon.signup
                span register

            .buttons.ui(ng-show="sess.uid")
              a.ui.item.labeled.button(ng-href="#/user/{{sess.uid}}") 
                i.icon.user
                span {{sess.uid}}
              a.ui.item.labeled.button(ng-click="logout()") 
                i.icon.sign.out
                span logout

      .row.my-main
        .column
          div(ng-view)

      .ui.bottom.labeled.icon.sidebar.overlay(ng-controller="msg-center-ctrl")
        .ui.grid.page.inverted
          .ui.icon.button.left.floated(ng-click="flip('flip left')")
            i.left.chevron.icon
          .ui.icon.button.right.floated(ng-click="flip('flip right')")
            i.right.chevron.icon
          .ui.button.fluid
            .ui.text.shape
              .sides
                .ui.default.side.active 
                  | welcome to dollast online judge
                .ui.default.side(ng-repeat="msg in shared.messages track by $index") 
                  label.ui.label(ng-class="style(msg.type)")
                    | {{msg.msg}}
