doctype html
html(ng-app="dollast-app")
  head
    meta(charset="utf-8")
    title dollast
    script(src="js/lib/angular/angular.js")
    script(src="js/lib/angular/angular-jwt.js")
    script(src="js/lib/angular/angular-sanitize.js")
    script(src="js/lib/angular/angular-resource.js")
    script(src="js/lib/angular/angular-route.js")
    script(src="js/lib/angular/angular-file-upload.js")
    script(src="js/lib/angular/dateTimeInput.js")
    script(src="js/lib/angular/ng-ckeditor.js")
    script(src="js/lib/preludels.min.js")
    script(src="js/lib/moment.js")
    script(src="js/lib/ckeditor/ckeditor.js")
    script(src="js/dollast/app.js")
    script(src="js/dollast/crud.js")
    script(src="js/dollast/filter.js")
    script(src="js/dollast/site.js")
    script(src="js/dollast/user.js")
    script(src="js/dollast/prob.js")
    script(src="js/dollast/sol.js")
    script(src="js/dollast/rnd.js")
    script(src="js/lib/jquery.js")
    script(src="js/semantic-animate.js")
    script(src="semantic-ui/semantic.js")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    link(type="text/css" rel="stylesheet" href="css/default.css")
    link(type="text/css" rel="stylesheet" href="semantic-ui/semantic.css")
  body.side
    .ui.grid.page
      .row
        .ui.navbar.large.fixed.page.grid.inverted.blue.menu(ng-controller="navbar-ctrl")
          .header.item dollast
          a.ui.item.labeled.button(href="#/")
            i.icon.home
            span home

          a.ui.item.labeled.button(href="#/problem") 
            i.icon.browser
            span problem

          a.ui.item.labeled.button(href="#/solution") 
            i.icon.info.circle
            span status
                        
          a.ui.item.labeled.button(href="#/round") 
            i.icon.child
            span contest

          a.ui.item.labeled.button(href="#/about") 
            i.icon.help.circle
            span about
          
          .right.menu
            a.ui.item.labeled.button(href="#/login" ng-hide="uid") 
              i.icon.sign.in
              span login
            a.ui.item.labeled.button(href="#/user/register" ng-hide="uid") 
              i.icon.signup
              span register
            a.ui.item.labeled.button(ng-href="#/user/{{uid}}" ng-show="uid") 
              i.icon.user
              span {{uid}}
            a.ui.item.labeled.button(ng-click="logout()" ng-show="uid") 
              i.icon.sign.out
              span logout
    
      .row.my-main
        .column
          div(ng-view)
      
