h1.ui.dividing.header status
table.ui.table.segment.large
  thead
    tr
      th.collapsing sol id
      th problem
      th time(s)
      th space(MB)
      th user
      th score
      th.collapsing lang
      th.collapsing round
      th link
  tbody
    tr(ng-repeat='sol in sols')
      td {{ sol._id }}
      td
        a(href="#/problem/{{sol.prob._id}}") {{sol.prob._id}}. {{sol.prob.outlook.title}}
      td {{ sol.final.time | number }} 
      td {{ sol.final.space | number }} 
      td
        a(ng-href='#/user/{{sol.user}}') {{sol.user}}
      td {{sol.final.score | number}}
      td {{sol.lang}}
      td {{sol.round}}
      td
        a(href='#/solution/{{sol._id}}') view code

.ui.button.icon.labeled.floated.right.primary(ng-click="refresh()")
  i.icon.refresh
  | refresh
