<table>
  <tr>
    <td>ID</td>
    <td>time</td>
    <td>space</td>
    <td>problem</td>
    <td>user</td>
    <td>result</td>
    <td>language</td>
    <td>link</td>
  </tr>
  <tr ng-repeat="sol in sols">
    <td>{{ sol._id }}</td>
    <td>{{ sol.time }} </td>
    <td>{{ sol.space }} </td>
    <td><a href="#/problem/{{sol.prob._id}}">{{sol.prob.title}}</a></td>
    <td><a href="#/user/{{sol.user}}">{{sol.user}}</a></td>
    <td>{{sol.result}}</td>
    <td>{{sol.lang}}</td>
    <td><a href="#/solution/{{sol._id}}">view code</a></td>
  </tr>
</table>
