h1.ui.dividing.header status
table.ui.table.segment.large
  thead
    tr
      th.collapsing.right sol id
      th problem
      th user
      th status
      th score
      th time(s)
      th space(MB)
      th.collapsing lang
      th.collapsing round
  tbody
    tr(ng-repeat='sol in sols')
      td
        a.ui.mini.teal.icon.button.labeled(href='#/solution/{{sol._id}}')
          i.icon.code
          | {{ sol._id }}
      td
        a(href="#/problem/{{sol.prob._id}}") {{sol.prob._id}}. {{sol.prob.outlook.title}}
      td
        a(ng-href='#/user/{{sol.user}}') {{sol.user}}
      td {{sol.final.status}}
      td {{sol.final.score | number}}
      td {{sol.final.time | number}} 
      td {{sol.final.space | number}} 
      td {{sol.lang}}
      td {{sol.round._id}}


.ui.button.icon.labeled.floated.right.primary(ng-click="refresh()")
  i.icon.refresh
  | refresh
