p author: {{sol.user}}
p lang: {{sol.lang}}
p problem: 
  span(ng-bind-html='sol.prob | probRef')
div(ng-switch='sol.final.status')
  div(ng-switch-when='CE')
    p
      | compile message: 
      pre {{sol.final.message}}            
  div(ng-switch-when='running')
    p running
  div(ng-switch-default='')
    .ui.toggle.checkbox
      input(type="checkbox" ng-model="open")
      label Current state: {{open ? "public" : "private"}}
      // input(type='button', value='toggle', ng-click='toggle()')
    .ui
      h1.header.ui details
      table.ui.table.segment
        thead
          tr
            th input
            th status
            th time
            th space
            th score
            th message
        tbody
          tr.positive(ng-repeat='result in sol.results')
            td {{result.input}}
            td {{result.status}}
            td {{result.time}}
            td {{result.space}}
            td {{result.score}}
            td {{result.message}}
        tfoot
          tr
            th final result
            th {{sol.final.status}}
            th {{sol.final.time | number}}
            th {{sol.final.space | number}}
            th {{sol.final.score | number}}
            th {{sol.final.message}}
div
  | code 
  pre
    code {{sol.code}}        
