
.ui.form.segment
  h1.header.ui.dividing {{user._id}} 

  .two.fields.ui
    .field
      label description
      textarea(ng-model="user.desc")
    .field
      h3.ui.header.dividing privileges
      .ui.divided.link.list
        a.item(ng-repeat="priv in user.privList")
          .left.floated.ui
            i.icon.tasks
          button.right.floated.ui.mini.button.labeled.icon(ng-click="remove(priv)") 
            i.icon.remove
            | remove
          .description {{priv}}
      .ui.input.action.left.icon
        i.icon.tasks
        input(ng-model="priv" placeholder="new privileges")
        button.icon.labeled.right.purple.ui.button(ng-click="insert()") 
          | insert
          i.icon.chevron.right
  .field
    a.floated.right.ui.button.icon.labeled.red(ng-click="delete()")
      i.icon.delete
      | delete
    a.floated.right.ui.button.icon.labeled.secondary
      i.icon.cancel
      | cancel
    a.floated.right.ui.button.icon.labeled.primary(ng-click="submit()")
      i.icon.save
      | save
