h1.ui.header.dividing {{user._id}}
.ui.segment 
  .ui.top.attached.label description
  .ui.description {{user.desc}}

a.ui.button.labeled.icon.teal(ng-href="#/solution/user/{{user._id}}")
  i.icon.info.circle
  | submissions

a.ui.button.labeled.icon.primary(ng-href="#/user/{{user._id}}/modify")
  i.icon.edit
  | modify
