.ui.form.segment
  .field
    .ui.left.icon.input
      input.labeled(ng-model="uid" placeholder="user id")
      i.user.icon
  .field
    .ui.left.icon.input
      input(type="password" ng-model="pswd" placeholder="password")
      i.lock.icon
  a.ui.right.floated.primary.labeled.button(ng-click="submit()")
    i.icon.sign.in
    | Register
