h1.ui.dividing.header login
.ui.form.segment.relaxed
  .field
    .ui.left.icon.input
      input(ng-model="user._id" placeholder="user id")
      i.user.icon
  .field
    .ui.left.icon.input
      input(type="password" ng-model="user.pswd" placeholder="password")
      i.lock.icon
  a.ui.right.floated.primary.labeled.button(ng-click="submit(user)")
    i.icon.sign.in
    | Login
