.ui.form.segment
  .field
    .ui.labeled.input
      a.ui.label 
        i.user.icon
        | User ID
      input.labeled(type="text" ng-model="user._id")
  .field
    .ui.labeled.input
      a.ui.label 
        i.lock.icon
        | Password
      input(type="password" ng-model="user.pswd")
  a.ui.right.floated.primary.labeled.button(ng-click="submit(user)")
    i.icon.sign.in
    | Login
