.ui.form.segment.relaxed
  .field
    .ui.left.icon.input
      input(ng-model="user._id")
      i.user.icon
  .field
    .ui.left.icon.input
      input(type="password" ng-model="user.pswd")
      i.lock.icon
  a.ui.right.floated.primary.labeled.button(ng-click="submit(user)")
    i.icon.sign.in
    | Login
