<p> problem: {{prob._id}} </p>
<input ng-model="prob.outlook.title" />

<br />
<div type="file" ng-file-select ng-file-drop ng-model="uploadFile" class="drop-box" allow-dir="true">
  drop or click
</div>
<input type="button" ng-click="upload()" value="upload {{uploadFile.name}}" ng-disabled="uploadFile.flag"/>

<br />
<div>
  <table>
    <tr>
      <th>input</th>
      <th>output</th>
      <th>weight</th>
      <th></th>
    </tr>
    <tr ng-repeat="atom in prob.config.dataset">
      <td>{{ atom.input }} </td>
      <td>{{ atom.output }} </td>
      <td>{{ atom.weight }} </td>
      <td><button ng-click="delData(atom)">delete</button></td>
    </tr>
  </table>
</div>
<input type="button" ng-click="updateDatasetList()" value="update data list" />

<div>
  description <textarea ckeditor="editorOptions" ng-model="prob.outlook.desc"></textarea>
</div>

<br />
<div>
  input format <textarea ng-model="prob.outlook.inFmt"></textarea>
</div>
<div>
  output format <textarea ng-model="prob.outlook.outFmt"></textarea>
</div>
<div>
  sample input <textarea ng-model="prob.outlook.sampleIn"></textarea>
</div>
<div>
  sample output <textarea ng-model="prob.outlook.sampleOut"></textarea>
</div>
<div>
  time limit(s): <input type="number" ng-model="prob.config.timeLmt"/>
</div>
<div>
  space limit(MB): <input type="number" ng-model="prob.config.spaceLmt" />
</div>
<div>
  stack limit(MB): <input type="number" ng-model="prob.config.stkLmt" />
</div>
<div>
  output limit(MB): <input type="number" ng-model="prob.config.outLmt" />
</div>
<div>
  <span>judger</span>
  <select ng-model='prob.config.judger'>
    <option value='string'>string</option>
    <option value='real'>real</option>
    <option value="strict">strict</option>
    <option value="custom">custom</option>
  </select>
</div>

<button ng-click="submit()">Submit</button>
