<form>
  <p> problem: {{prob._id}} </p>
  <input ng-model="prob.title" />
  <div>
    description <textarea ng-model="prob.desc"></textarea>
  </div>
  <div>
    input format <textarea ng-model="prob.inFmt"></textarea>
  </div>
  <div>
    output format <textarea ng-model="prob.outFmt"></textarea>
  </div>
  <div>
    sample input <textarea ng-model="prob.sampleIn"></textarea>
  </div>
  <div>
    sample output <textarea ng-model="prob.sampleOut"></textarea>
  </div>
  <div>
    time limit: <input type="number" ng-model="prob.timeLmt"/>
  </div>
  <div>
    space limit: <input type="number" ng-model="prob.spaceLmt" />
  </div>

  <input type="button" ng-click="submit()" value="submit"/>
</form>
