.form.segment.ui
  h1.header.ui.dividing round {{rnd._id}}
  
  .three.fields.ui
    .field
      label title
      .ui.input
        input(ng-model="rnd.title")
    .field
      label start from
      .ui.input
        input(data-date-time-input="YYYY-MM-DD HH:mm:ss" ng-model="rnd.begTime")
    .field
      label end in
      .ui.input
        input(data-date-time-input="YYYY-MM-DD HH:mm:ss" ng-model="rnd.endTime")

  h2.dividing.header.ui problemset
  .two.fields.ui
    .field
      .ui.divided.link.list(ng-repeat="prob in probs")
        a.item
          .left.floated.ui
            i.icon.tasks
          button.right.floated.ui.button.labeled.icon(ng-click="remove(prob._id)") 
            i.icon.remove
            | remove
          .description(ng-href="#/problem/{{prob._id}}") {{prob._id}}. {{prob.outlook.title}}
      .ui.input.action.left.icon
        i.icon.tasks
        input(type="number" ng-model="pid")
        button.icon.labeled.right.purple.ui.button(ng-click="insert()") 
          | insert
          i.icon.chevron.right
    .field
  
  .field
    a.floated.right.ui.button.icon.labeled.red(ng-click="delete()")
      i.icon.delete
      | delete
    a.floated.right.ui.button.icon.labeled.secondary
      i.icon.cancel
      | cancel
    a.floated.right.ui.button.icon.labeled.primary(ng-click="submit()")
      i.icon.save
      | save
