.form.segment.ui
  h1.header.dividing.ui problem: {{prob._id}}
  .four.fields.ui
    .inline.field
      label title
      .ui.input
        input(ng-model='prob.outlook.title')
    .field
      .ui.toggle.checkbox
        input(type="checkbox" ng-model="inNextRnd")
        label in next round

  .field
    label description 
    textarea(ckeditor='editorOptions', ng-model='prob.outlook.desc')

  .two.fields.ui
    .field
      label input format 
      textarea(ng-model='prob.outlook.inFmt')
    .field
      label output format 
      textarea(ng-model='prob.outlook.outFmt')

  .two.fields.ui
    .field
      label sample input 
      textarea(ng-model='prob.outlook.sampleIn')
    .field
      label sample output 
      textarea(ng-model='prob.outlook.sampleOut')
  
  .five.fields.ui
    .field
      label time limit(s):
      .ui.input 
        input(type='number', ng-model='prob.config.timeLmt')
    .field
      label space limit(MB): 
      .ui.input
        input(type='number', ng-model='prob.config.spaceLmt')
    .field
      label stack limit(MB): 
      .ui.input
        input(type='number', ng-model='prob.config.stkLmt')
    .field
      label output limit(MB): 
      .ui.input
        input(type='number', ng-model='prob.config.outLmt')
    .field
      label judger
      .ui.dropdown.selection
        input(type="hidden")
        .text {{prob.config.judger}}
        i.dropdown.icon
        .menu
          .item(ng-repeat="judger in judgers" data-value="{{judger}}" ng-click="select(judger)") {{judger}}

  .ui.divider

  .field
    .ui.icon.button.labeled(ng-file-select ng-model="uploadFile")
      i.icon.file
      | select
    a.ui.button.icon.labeled.green(ng-click='upload()' ng-disabled='uploadFile.flag')
      i.icon.upload
      | upload {{uploadFile[0].name}}
    a.ui.button.icon.labeled.teal(ng-click='updateDatasetList()')
      i.icon.refresh
      | refresh
    a.ui.button.icon.labeled.purple(ng-click='repair()')
      i.icon.retweet
      | repair
    table.ui.table.segment
      thead
        tr
          th input
          th output
          th weight
          th
      tbody
        tr(ng-repeat='atom in prob.config.dataset')
          td {{ atom.input }} 
          td {{ atom.output }} 
          td {{ atom.weight }} 
          td
            button(ng-click='delData(atom)') delete

  
  .field
    a.ui.button.icon.labeled.floated.primary(ng-click='submit()')
      i.icon.save
      | Submit  
