p  problem: {{prob._id}} 
input(ng-model='prob.outlook.title')
br
.drop-box(type='file', ng-file-select='', ng-file-drop='', ng-model='uploadFile', allow-dir='true')
  | drop or click
input(type='button', ng-click='upload()', value='upload {{uploadFile.name}}', ng-disabled='uploadFile.flag')
br
div
  table
    tr
      th input
      th output
      th weight
      th
    tr(ng-repeat='atom in prob.config.dataset')
      td {{ atom.input }} 
      td {{ atom.output }} 
      td {{ atom.weight }} 
      td
        button(ng-click='delData(atom)') delete
input(type='button', ng-click='updateDatasetList()', value='update data list')
div
  | description 
  textarea(ckeditor='editorOptions', ng-model='prob.outlook.desc')
br
div
  | input format 
  textarea(ng-model='prob.outlook.inFmt')
div
  | output format 
  textarea(ng-model='prob.outlook.outFmt')
div
  | sample input 
  textarea(ng-model='prob.outlook.sampleIn')
div
  | sample output 
  textarea(ng-model='prob.outlook.sampleOut')
div
  | time limit(s): 
  input(type='number', ng-model='prob.config.timeLmt')
div
  | space limit(MB): 
  input(type='number', ng-model='prob.config.spaceLmt')
div
  | stack limit(MB): 
  input(type='number', ng-model='prob.config.stkLmt')
div
  | output limit(MB): 
  input(type='number', ng-model='prob.config.outLmt')
div
  span judger
  select(ng-model='prob.config.judger')
    option(value='string') string
    option(value='real') real
    option(value='strict') strict
    option(value='custom') custom
button(ng-click='submit()') Submit
