h1.ui.centered {{ prob._id }}. {{ prob.outlook.title }}
p time limit: {{ prob.config.timeLmt }} space limit {{ prob.config.spaceLmt }}

.ui.raised.segment.large.labels
  .ui.ribbon.label.green description
  p(ng-bind-html="prob.outlook.desc" mathjax)
  .ui.ribbon.label.green input format
  p {{prob.outlook.inFmt}}
  .ui.ribbon.label.green output format
  p {{prob.outlook.outFmt}}
  .ui.ribbon.label.green sample input
  pre {{ prob.outlook.sampleIn }}
  .ui.ribbon.label.green sample output
  pre {{ prob.outlook.sampleOut }}

a.button.ui.primary.icon.labeled(ng-href="#/submit/{{prob._id}}")
  i.icon.rocket
  | submit
a.button.ui.icon.red.labeled(ng-href="#/problem/{{prob._id}}/modify")
  i.icon.edit
  | modify
